.section-otvizf{
    padding: 80px 0 80px 0;
}
.otvizf{
    text-align: center;
    position: relative;

    &__title{
        @include subTitle;
        margin-bottom: 40px;
    }
    &__cards{
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: center;
        column-gap: 30px;
    }
    &__card{
        max-width: 540px;
        width: 100%;
        padding: 24px;
        box-shadow: 0px 4px 24px rgba(51, 51, 51, 0.1);
        border-radius: 9px;
        align-self: stretch;
    }
    &__cardTop{
       display: flex;
       align-items: center;
       text-align: start;
       

    }
    &__cardTopName{
         text-align: start;
         margin-left: 16px;
         margin-bottom: 24px;
        &--title{
            @include subtext18;
            margin-bottom: 32px;
        }
        &--text{
            font-weight: 500;
            font-size: 8px;
            line-height: 8px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #686868;
        }
        &--logo img{
            width: 92px;
            height: 17px;
        }
    }

    &__dots{
        margin-top: 24px;
        display: flex;
        column-gap: 16px;
        justify-content: center;
    }
    &__dot{
        width: 8px;
        height: 8px;
        border: 1px solid #333;
        border-radius: 50%;
    }
    &__btns{
        margin-top: 56px;

        a{
             padding: 16px 51px;
             font-weight: 700;
             font-size: 12px;
             line-height: 15px;
             letter-spacing: 0.05em;
             text-transform: uppercase;
             color: #FFFFFF;
             background-color: var(--bnt-colorBlue);
                 
         }
    }
    &__topShape{
        position: absolute;
        right: 0;
        bottom: -55px;
    }
}


@media screen  and (max-width:768px){
    .otvizf__card1{
     display: none;
    }
    
}
@media screen  and (max-width:545px){
    .otvizf__cards {
      column-gap: 0px; 
    }
    .otvizf__cardTop--logo{
        display: none;
    }
    
}

@media screen  and (max-width:320px){
    .otvizf__cards{
        align-items: flex-start;
        position: relative;
        text-align: center;

    }
    .otvizf__cardTop{
        flex-direction: column;
    }
   
    .otvizf__cardTop--logo{
     display: none;
    }
    .otvizf__leftShape{
        padding-top: 30px;
        position: absolute;
        left: 15px;
        top: 20px;
    }
    .otvizf__rightShape{
        position: absolute;
        right: 15px;
        top: 50px;
    }
    
    .otvizf__topShape {
        width: 50px;
        bottom: -81px;
        right: -13px;

       a{

        img{
           width: 100%; 
        }
       }
    }
   .otvizf__title{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
   }
   .otvizf__cardTopName--title{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
   }
   .otvizf__cardTopName--text{
    font-weight: 500;
     font-size: 10px;
     line-height: 12px;
   }
   .otvizf__cardMain--text{
     font-size: 12px;
     line-height: 20px;
   }
}